.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* width: 350px;
  height: 250px; */
}

.hexagon {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #27aae1;
  border-color: #27aae1;
  /* position: relative; */
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hexagon:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}
.hexagon:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
