.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  gap: 60px;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* width: 350px;
  height: 250px; */
}

.hexagon {
  /* margin-top: 30px; */
  width: 84px;
  height: 40px;
  background-color: #27aae1;
  border-color: #27aae1;
  position: relative;
  /*display: inline-block; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.hexagon:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 42px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top: -30px;
}
.hexagon:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
}
